a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.title-card {
  justify-content: center;
  text-align: center;
  width: 75vw;
  max-width: 1500px;
  margin: auto;
}

.intro-title {
  font-size: calc(50px + 3vw);
  font-weight: 400;
}

.intro-text {
  font-size: calc(20px + 1vw);
}

button {
  margin: 20px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}
.header-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-explore {
  margin-top: 12px;
  width: 100px;
  height: 30px;
  padding: 7px;
  border-radius: 10px;
  background-color: #005b94;
  color: white;
  border-color: #005b94;
  text-align: center;
  line-height: 30px;
}

.btn-contact {
  margin-top: 12px;
  width: 100px;
  height: 30px;
  padding: 7px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: lightgray solid;
  border-width: 1px;
  text-align: center;
  line-height: 30px;
}

.img1 {
  padding-top: 50px;
  display: block;
  width: 75vw;
  max-width: 1500px;
  margin: auto;
}

.section-1 {
  background-color: #f7f6f6;
  margin: auto;
  padding-left: 50px;
}

.section-1-title {
  padding-top: 50px;
  margin-bottom: 0;
  font-size: calc(25px + 2vw);
  font-weight: 300;
  width: 45vw;
}

.section-1-subtitle {
  font-size: calc(7px + 0.5vw);
  width: 50vw;
  padding-bottom: 25px;
}

.section-1-content {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.section-1-content img {
  width: calc(25px + 1vw);
  max-width: 100px;
}

.section-1-content h3 {
  font-size: calc(7px + 0.5vw);
  max-width: 20vw;
}

.section-2 {
  background-color: #000000;
  margin: auto;
  padding-left: 50px;
  padding-bottom: 50px;
  color: white;
}

.section-2-title {
  margin: 0;
  padding-top: 50px;
  font-size: calc(25px + 2vw);
  font-weight: 300;
  width: 45vw;
}

.section-2-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 75px;
}

.section-2-content img {
  width: calc(200px + 2vw);
  max-width: 500px;
}

.section-2-profile h3 {
  font-size: calc(15px + 0.5vw);
}
