.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
}

.logo {
  width: calc(100px + 1.5vw);
}

.link-container {
  display: flex;
}

.link-list {
  display: flex;
  list-style: none;
  gap: calc(10px + 0.5vw);
  white-space: nowrap;
  margin: 0;
  padding-left: 10px;
  padding-right: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: calc(15px + 0.25vw);
}

.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #005b94;
}
